<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <!-- <header class="navbar navbar-bright navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button
            class="navbar-toggle"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"><%=title%></a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="<%=nav[0].link%>"><%=nav[0].title%></a>
            </li>
            <li>
              <a href="#">Author</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
          </ul>
          <ul class="nav navbar-right navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                ><i class="glyphicon glyphicon-search"></i
              ></a>
              <ul class="dropdown-menu" style="padding:12px;">
                <form class="form-inline">
                  <button type="submit" class="btn btn-default pull-right">
                    <i class="glyphicon glyphicon-search"></i></button
                  ><input
                    type="text"
                    class="form-control pull-left"
                    placeholder="Search"
                  />
                </form>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand" href="/">Library</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/"
            >Home <span class="sr-only">(current)</span></a
          >
          <a class="nav-item nav-link" href="<%=nav[0].link%>"
            ><%=nav[0].title%></a
          >
          <a class="nav-item nav-link" href="/">Author</a>
          <a class="nav-item nav-link " href="/">About</a>
        </div>
      </div>
    </nav>
    <div id="masthead">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1>
              Book Lists
              <p class="lead"></p>
            </h1>
          </div>
          <div class="col-md-5">
            <div class="well well-lg">
              <div class="row">
                <div class="col-sm-12"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /cont -->

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="top-spacer"></div>
          </div>
        </div>
      </div>
      <!-- /cont -->
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel">
            <div class="panel-body">
              <% for (let index = 0; index < books.length; index++) { %>
              <div class="row">
                <br />
                <div class="col-md-2 col-sm-3 text-center">
                  <a class="story-title" href="#"
                    ><img
                      alt=""
                      src="https://d2e111jq13me73.cloudfront.net/sites/default/files/styles/share_link_image_large/public/product-images/csm-book/small-spaces-book.jpg?itok=UOFMNV4v"
                      style="width:250px;height:100px"
                      class="img-circle"
                  /></a>
                </div>
                <div class="col-md-10 col-sm-9">
                  <h3><%=books[index].title%></h3>
                  <div class="row">
                    <div class="col-xs-9">
                      <h4>
                        <span class="label label-default">
                          <%=books[index].Author%></span
                        >
                      </h4>
                      <h4>
                        <small
                          style="font-family:courier,'new courier';"
                          class="text-muted"
                          ><%=books[index].publishedDate%>•
                          <a
                            href="/books/<%=books[index]._id%>"
                            class="text-muted"
                            >Read More</a
                          >

                          ></small
                        >
                      </h4>
                    </div>
                    <div class="col-xs-3"></div>
                  </div>
                  <br /><br />
                </div>
              </div>
              <hr />
              <%}%>

              <!--/stories-->

              <!--/stories-->

              <a href="/" class="btn btn-primary pull-right btnNext"
                >More <i class="glyphicon glyphicon-chevron-right"></i
              ></a>
            </div>
          </div>
        </div>
        <!--/col-12-->
      </div>
    </div>

    <hr />

    <div class="container" id="footer">
      <div class="row">
        <div class="col col-sm-12">
          <h1>Follow Us</h1>
          <div class="btn-group">
            <a class="btn btn-twitter btn-lg bg-primary" href="#"
              ><i class="icon-twitter icon-large"></i> Twitter</a
            >
            <a class="btn btn-facebook btn-lg bg-secondary" href="#"
              ><i class="icon-facebook icon-large"></i> Facebook</a
            >
            <a class="btn btn-google-plus btn-lg bg-danger" href="#"
              ><i class="icon-google-plus icon-large"></i> Google+</a
            >
          </div>
        </div>
      </div>
    </div>

    <hr />

    <hr />

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-inline">
              <li><i class="icon-facebook icon-2x"></i></li>
              <li><i class="icon-twitter icon-2x"></i></li>
              <li><i class="icon-google-plus icon-2x"></i></li>
              <li><i class="icon-pinterest icon-2x"></i></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <p class="pull-right">
              Built by <i class="icon-heart-empty"></i>
              <a href="">Milley</a>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
